<h1> Available tours</h1>
<div *ngFor="let tour of tours" class="tours">
  <a [routerLink]="['/tours', tour.id]" class="t">
    <img class="images" [routerLink]="['/tours', tour.id]" src="{{tour.image}}">
    <div class="information">
      <h2 class="info">Name: </h2>{{tour.name}}<br>
      <h2 class="info">Country: </h2>{{tour.country}}<br>
      <h2 class="info">Description: </h2>{{tour.description}}<br>
      <h2 class="info">Price: </h2>${{tour.price}}
    </div>
  </a>
  <br>
  <div class="informationforevents">
    <button class="btn" (click)="likeItem(tour.id - 1)">
      Like: {{ tour.like }}
    </button>
    <button class="btn" (click)="share(tour.image, tour.description)">
      Share
    </button>
    <button class="btn" (click)="removeItem(tour.id)">
      Delete
    </button>
  </div>
  <hr size="10px" width="auto" color="orange" class="line">
</div>
