<h1> About our participants</h1>

<p>
  This project was made by our beautiful,amazing,smart,cute,dangerous,wonderful crush-girls:
  <br>
  <br>
  Alpysbaeva Aibike
  <br>
  <br>
  <img src="https://sun9-15.userapi.com/impg/y8pxN3JGYuUb4smp10PYqP8nqPkfXFZHSmsfeA/Doiq2Q2osF8.jpg?size=956x1274&quality=96&sign=212b58c3167ec8b347496ab071384567&type=album" width="400px">
  <br>
  <br>
  Myrzakhan Madina
  <br>
  <br>
  <img src="https://sun9-70.userapi.com/impg/ODd1twTEwVv6RWc9f4symCaccU8cf9w8s0iEIg/0FZ1k7QGQqg.jpg?size=828x828&quality=96&sign=682d3fdf748b58fd9e3bf64395a96c43&type=album" width="400px">
  <br>
  <br>
  Bolatova Aruzhan
  <br>
  <br>
  <img src="https://sun9-8.userapi.com/impg/t-oIQ8XGCuEMHs29CXwJJHhUoe7ojzFIC4Djtg/yiA77IvorT0.jpg?size=839x822&quality=96&sign=cbd62584466fae23ac9cdc6c3468026b&type=album" width="400px">
  <br>
  <br>
  Enjoy ;)
</p>


